.banner {
 height: 100vh;
 
 /* Flexbox */
 display: flex;
 align-items: center;
}

#main{
 color: red;
}

#my-nav-bar{
 font-size: 20px;
 
}

.navbar-custom {
    
}

#search{
 
}

#call-to-action{
  position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align:center;
    background-color:rgba(0,0,0, 0.3);
    padding:10px;
    
}

#call-to-action p {
    color:white;
    font-size:25px;
    text-shadow: 2px 2px black;
   
}