body{
   
}

.banner {
 height: 100vh;
 
 /* Flexbox */
 display: flex;
 align-items: center;
}

#main{
 color: red;
}

#my-nav-bar{
 font-size: 20px;
 
}

.navbar-custom {
    
}

#search{
 
}

#call-to-action{
  position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align:center;
    background-color:rgba(0,0,0, 0.3);
    padding:10px;
    
}

#call-to-action p {
    color:white;
    font-size:18px;
    text-shadow: 2px 2px black;
   
}

h2{
    text-align: center;
}

p{
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
}

.front{
   margin: 40px;
    top:50%;
    left:50%;
    text-align:center;
    background-color:rgba(255, 226, 122, 0.3);
   padding: 15px;
    border-radius: 25px;
    border-size:10px;
  background-position: center;

}

.news{

}

<--/@media only screen and (max-width: 600px) {
  div#call-to-action p {
    display: none;
  }
div.front{
    font-size: 10px;
    margin: 0px;
}

div h2{
    font-size: 12px !important;
}


#caro p{
    font-size: 10px !important; 
}