body{
   
}

.banner {
 height: 100vh;
 
 /* Flexbox */
 display: flex;
 align-items: center;
}

#main{
 color: red;
}

#my-nav-bar{
 font-size: 20px;
 
}

.navbar-custom {
    
}

#search{
 
}

#call-to-action{
  position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align:center;
    background-color:rgba(0,0,0, 0.3);
    padding:10px;
    
}

#call-to-action p {
    color:white;
    font-size:18px;
    text-shadow: 2px 2px black;
   
}

h2{
    text-align: center;
    padding-bottom: 5px;
    font-family: 'Indie Flower', cursive;
}

p{
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
}

.front{
   margin: 40px;
    top:50%;
    left:50%;
    text-align:center;
    background-color:rgba(255, 226, 122, 0.3);
   padding: 10px;
    border-radius: 20px;
    border:10px;
  background-position: center;
  margin-top: 10px; 

}


@media only screen and (max-width: 1189px) {
    #search 
{display: none !important;}
  }
div.front{
    font-size: 20px;
    margin: 20px;
}



#caro p{
    font-size: 10px !important; 
}

@media only screen and (max-width: 575px) {
  .front p {
      font-size: 10px;
      padding: 1px;
      padding-bottom: -1px;
     }
}


@media only screen and (max-width: 575px) {
  .front h2 {
      font-size: 15px;
     }
}

@media only screen and (max-width: 575px) {
  .col-sm-6 p {
      font-size: 10px;
      padding: 1px;
      padding-bottom: -1px;
     }
}


@media only screen and (max-width: 575px) {
  .col-sm-6 h3 {
      font-size: 15px;
     }
}

@media only screen and (max-width: 575px) {
  #list {
      font-size: 10px;
     }
}

body{
    background-color: rgba(255, 255, 230);
}