
.banner {
 height: 100vh;
 
 /* Flexbox */
 display: flex;
 align-items: center;
}

#main{
 color: red;
}

#my-nav-bar{
 font-size: 20px;
 
}


#call-to-action{
  position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align:center;
    background-color:rgba(0,0,0, 0.3);
    padding:10px;
    
}

#call-to-action p {
    color:white;
    font-size:18px;
    text-shadow: 2px 2px black;
   
}

h2{
    text-align: center;
}

p{
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
}

.front{
   margin: 40px;
    top:50%;
    left:50%;
    text-align:center;
    background-color:rgba(255, 226, 122, 0.3);
   padding: 15px;
    border-radius: 25px;
    border-size:10px;
  background-position: center;

}

.news{

}

@media only screen and (max-width: 1189px) {
    #search 
{display: none !important;}
  }
div.front{
   padding:5px;
    margin: 30px;
}

div h2{
    padding-top: 10px;
    padding-bottom: 10px;
}


#caro p{
    font-size: 10px !important; 
}

div h3{
    padding-top: 10px;
    padding-bottom: 10px;
      text-align: center;
}

.link{
    text-align: center;
}

.front{
   margin: 40px;
    top:50%;
    left:50%;
    text-align:center;
    background-color:rgba(255, 226, 122, 0.3);
   padding: 10px;
    border-radius: 20px;
    border:10px;
  background-position: center;
  padding: 5px;

}

@media only screen and (max-width: 575px) {
  .front {
      font-size: 10px;
      margin:-5px;
     }
}

@media only screen and (max-width: 575px) {
  .front h2 {
      font-size: 17px;
      
     }
}

@media only screen and (max-width: 575px) {
  .front h3 {
      font-size: 17px;
      
     }
}

@media only screen and (max-width: 575px) {
  .demo h3 {
      font-size: 17px;
      
     }
}

h2, h3{
     font-family: 'Indie Flower', cursive;
}

body{
    background-color: rgba(255, 255, 230);
}

#footer_butt{
    text-align: center;
}
